Jakob Voß <jakob.voss@gbv.de> <voss@gbv.de>
Jakob Voß <jakob.voss@gbv.de> <jakob@nichtich.de>
Patrick Hochstenbach <patrick.hochstenbach@gmail.com> <patrick.hochstenbach@ugent.be>
Vitali Peil <vpeil@cpan.org> <vitali.peil@uni-bielefeld.de>
